<div class="container">
  <div class="row">
    <div class="col">
      公演情報
      フォーラム
      公演レビュー
      プロフィール
      メッセージ
      フレンドリスト
      参加グループ
      参加コミュニティ
      <%= link_to "いいね一覧", '/posts/:id/liked_posts' %>
    </div>
  </div>
</div>